.row {
    padding-left: 4%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.container-lg {
    margin-top: 2rem;
}

.chart-container {
    height: 20rem;
}

body.modal-open {
    overflow: hidden;
}

#timeline {
    direction: rtl;
}

#timeline td {
    width: 3rem;
}

