{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="error-container">
            <div class="error-code text-danger">500</div>
            <div class="error-message">Oops! We tripped on a cable...</div>
            <p class="glitch-message">Our team of highly trained monkeys is working hard to fix this.</p>
            <p class="mt-4">In the meantime, you can go back or try again later.</p>
            <a href="/" class="btn btn-primary back-link">Back to Safety</a>
        </div>
    </div>
{% endblock %}
