{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script>
        {%- set timeline_data = '' -%}
        config = {
            timeline_data_correct: {{- '[' -}}
            {%- for x, y, r in timeline_correct -%}
                {{- '{x: ' + x|string + ', y: ' + y|string + ', r: ' + r|string + '}, ' -}}
            {%- endfor -%}
            {{- ']' -}},
            timeline_data_incorrect: {{- '[' -}}
            {%- for x, y, r in timeline_incorrect -%}
                {{- '{x: ' + x|string + ', y: ' + y|string + ', r: ' + r|string + '}, ' -}}
            {%- endfor -%}
            {{- ']' -}},
            id_to_name: {{ id_to_name | safe }}
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='index_charts.js') }}"></script>
    <div class="container d-flex">
        <div class="row">
            <h2>Timeline</h2>
            <div class="chart-container">
                <canvas id="TimeLine"></canvas>
            </div>
            <h2>People</h2>
            <div class="col-sm">
                <ul id="PeopleList" class="list-group">
                    {%- for id, name, correct, answered, all in data -%}
                        <a href="/statistic/{{ id }}"
                           class="list-group-item d-flex justify-content-between align-items-center">
                            {{- name -}}
                            {% if answered != 0 and (correct / answered) > 0.75 %}
                                <span class="badge bg-success rounded-pill">{{- (correct / answered * 100) | round(1, 'floor') -}}%</span>
                            {% elif answered != 0 and (correct / answered) > 0.5 %}
                                <span class="badge bg-primary rounded-pill">{{- (correct / answered * 100) | round(1, 'floor') -}}%</span>
                            {% elif answered != 0 and (correct / answered) > 0 %}
                                <span class="badge bg-warning rounded-pill">{{- (correct / answered * 100) | round(1, 'floor') -}}%</span>
                            {% elif answered != 0 or correct == 0 %}
                                <span class="badge bg-danger rounded-pill">0 %</span>
                            {% endif %}
                        </a>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="col-sm">

            </div>
        </div>
{% endblock %}