{% extends "base.html" %}

{% block content %}
    <div class="container-lg">

        <h2>{{ person.full_name }}</h2>
        <div class="row table-responsive">
            <table class="table">
                <tr>
                    {% for answer in person.answers %}
                        {% if answer.state == AnswerState.ANSWERED and answer.person_answer == answer.question.answer %}
                            <td class="text-center table-success" data-bs-toggle="modal"
                                data-bs-target="#info_{{ answer.id }}">
                                C
                            </td>
                        {% elif answer.state == AnswerState.ANSWERED and answer.person_answer != answer.question.answer %}
                            <td class="text-center table-warning" data-bs-toggle="modal"
                                data-bs-target="#info_{{ answer.id }}">
                                N
                            </td>
                        {% elif answer.state == AnswerState.TRANSFERRED %}
                            <td class="text-center table-info" data-bs-toggle="modal"
                                data-bs-target="#info_{{ answer.id }}">
                                I
                            </td>
                        {% elif answer.state == AnswerState.NOT_ANSWERED %}
                            <td class="text-center table-secondary" data-bs-toggle="modal"
                                data-bs-target="#info_{{ answer.id }}">
                                P
                            </td>
                        {% endif %}

                        <div class="modal fade" id="info_{{ answer.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Question</h6>
                                        {{ answer.question.text }}
                                        <h6>Answer Time</h6>
                                        {{ answer.answer_time }}
                                        <h6>User answer</h6>
                                        {{ answer.person_answer }}
                                        <h6>Correct answer</h6>
                                        {{ answer.question.answer }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}