{% extends "base.html" %}

{% block prescripts %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/af-2.6.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ "active" if active_tab == "CREATE" else "" }}" id="create-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#create"
                            type="button"
                            role="tab" aria-controls="create">Create
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ "active" if active_tab == "IMPORT" else "" }}" id="import-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#import"
                            type="button"
                            role="tab" aria-controls="import">Import
                    </button>
                </li>
            </ul>
            <div class="tab-content p-3 mb-3 bg-body-tertiary shadow rounded-bottom">
                <div class="tab-pane fade {{ "show active" if active_tab == "CREATE" else "" }}" id="create"
                     role="tabpanel"
                     aria-labelledby="create-tab">
                    <h3>Create question</h3>
                    <form method="POST" action="">
                        {{ create_question_form.csrf_token }}
                        <div class="row">
                            <div class="col-4 d-flex flex-column gap-1">
                                {{ create_question_form.text.label(class_="form-label") }}
                                {{ create_question_form.text(class_="form-control h-100", placeholder="Какая команда используется для создания нового каталога в Bash?") }}

                                {{ create_question_form.subject.label(class_="form-label") }}
                                {{ create_question_form.subject(class_="form-control", placeholder="Bash") }}
                            </div>
                            <div class="col-4 d-flex flex-column gap-1">
                                {{ create_question_form.options.label(class_="form-label") }}
                                {{ create_question_form.options(class_="form-control h-100", placeholder="mkdir\ntouch\ncd\nls") }}

                                {{ create_question_form.answer.label(class_="form-label") }}
                                {{ create_question_form.answer(class_="form-control") }}
                            </div>
                            <div class="col-4 d-flex flex-column gap-1">
                                {{ create_question_form.groups.label(class_="form-label") }}
                                {{ create_question_form.groups(class_="form-control selectpicker", data_actions_box="true") }}

                                {{ create_question_form.level.label(class_="form-label") }}
                                {{ create_question_form.level(class_="form-control") }}

                                {{ create_question_form.article.label(class_="form-label") }}
                                {{ create_question_form.article(class_="form-control", placeholder="https://github.com/") }}

                            </div>
                        </div>
                        {% for field, error in create_question_form.errors.items() %}
                            <div class="alert alert-warning mt-3">
                                {{ "\n".join(error) }}
                            </div>
                        {% endfor %}
                        {{ create_question_form.create(class_="btn btn-success mt-3 float-end") }}
                    </form>
                </div>
                <div class="tab-pane fade {{ "show active" if active_tab == "IMPORT" else "" }}" id="import"
                     role="tabpanel" aria-labelledby="import-tab">
                    <h3>Import questions</h3>
                    <form method="POST" action="">
                        {{ import_question_form.csrf_token }}
                        <div class="row">
                            <div class="col-6 d-flex flex-column gap-1">
                                {{ import_question_form.import_data.label(class_="form-label") }}
                                {{ import_question_form.import_data(class_="form-control", rows="8", placeholder="""[ {
    \"question\": \"Какая команда используется для создания нового каталога в Bash?\",
    \"options\": [\"mkdir\", \"touch\", \"cd\", \"ls\"],
    \"answer\": \"mkdir\",
    \"difficulty\": 2
  }, ... ]""") }}
                            </div>
                            <div class="col-6 d-flex flex-column gap-1">
                                {{ import_question_form.subject.label(class_="form-label") }}
                                {{ import_question_form.subject(class_="form-control", placeholder="Bash") }}

                                {{ import_question_form.groups.label(class_="form-label") }}
                                {{ import_question_form.groups(class_="form-control selectpicker", data_actions_box="true") }}

                                {{ import_question_form.article.label(class_="form-label") }}
                                {{ import_question_form.article(class_="form-control", placeholder="https://github.com/") }}
                            </div>
                        </div>
                        {% for field, error in import_question_form.errors.items() %}
                            <div class="alert alert-warning mt-3">
                                {{ "\n".join(error) }}
                            </div>
                        {% endfor %}
                        {{ import_question_form.import_btn(class_="btn btn-success mt-3 float-end") }}
                    </form>
                </div>
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col mb-2">
                <button id="delete_button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" disabled="">
                    Delete
                    <i class="bi bi-trash" style="font-size: 1rem; color: currentColor;"></i>
                </button>
                <button id="edit_button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#editModal" disabled="">
                    Edit
                    <i class="bi bi-pencil-square" style="font-size: 1rem; color: currentColor;"></i>
                </button>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Delete question</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {{ delete_question_form.csrf_token }}
                                {{ delete_question_form.id(id="question-id-delete", class="form-control") }}
                                <div class="mb-3">
                                    Are you sure, you want to delete, the question from the database permanently?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    {{ delete_question_form.delete(type="submit", class="btn btn-outline-danger", id="delete-btn") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Editing</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {{ edit_question_form.csrf_token }}
                                {{ edit_question_form.id(id="question-id", class="form-control") }}
                                <div class="mb-3">
                                    {{ edit_question_form.text.label(class_="form-label") }}
                                    {{ edit_question_form.text(id="question-text", class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.subject.label(class_="form-label") }}
                                    {{ edit_question_form.subject(id="question-subject", class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.options.label(class_="form-label") }}
                                    {{ edit_question_form.options(id="question-options", class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.answer.label(class_="form-label") }}
                                    {{ edit_question_form.answer(id="question-answer", class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.groups.label(class_="form-label") }}
                                    {{ edit_question_form.groups(id="question-groups", class_="form-control selectpicker", data_actions_box="true") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.level.label(class_="form-label") }}
                                    {{ edit_question_form.level(id="question-level", class_="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ edit_question_form.article.label(class_="form-label") }}
                                    {{ edit_question_form.article(id="question-article", class_="form-control") }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    {{ edit_question_form.save(type="submit", class="btn btn-primary", id="save-btn") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <table id="table" class="table table-striped align-middle">
                <thead class="align-middle">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Options</th>
                    <th scope="col">Correct answers</th>
                    <th scope="col">Groups</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Article</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block postscripts %}
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/af-2.6.0/sl-1.7.0/datatables.min.js"></script>
    <script src="/static/question.js"></script>
{% endblock %}